body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
}

.start-button {
    font-family: 'Balsamiq Sans', cursive;
    width: 20vw;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2vw;
    position: absolute;
    top: 40%;
    left: 40%;
    outline: ridge;
}

.hide{
    display: none;
}

.ball{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    background: lightslategray;
}

